body{
    position: relative;
}

.section-wellcome{
    width: 100%;
    height: 100vh;
    background: $color-gradient;
    overflow: hidden;
    position: relative;
    .img-fluid-home{
        height: 70%;
        position: relative;
        bottom: -31%;
        left: 3%;
    }
    .img-bitmap{
        display: none;
    }
    h1{
        position: absolute;
        top: 35%;
        left: 48%;
        color: $color-white;
        font-size: 3rem;
    }
    p{
        font-size: 14px;
        color:  $color-white;
        position: absolute;
        left: 48%;
        top: 62%;
    }
    .icon-playstore{
        position: absolute;
        left: 48%;
        top: 72%;
    }
    .icon-appstore{
        position: absolute;
        left: 65%;
        top: 72%;
    }
}

.sections{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    img{
        height: 70%;
    }
    h2{
        font-size: 2rem;
        color: $color-white;
        padding: 0 0 0 175px;
        font-weight: 800;
    }
    p{
        font-size: 13px;
        color: $color-white;
        padding: 0 0 0 175px;
    }
}
#sales{
    h4,h2{
        padding: 0 0 0 175px;
    }
    p{
        font-size: 13px;
        padding: 0 50px 0 175px;
    }
    a{
        padding: 8px 15px;
        background-color: #88D65C;
        color: #ffffff;
        font-family: $open-sans;
        border-radius: 5px;
        margin: 0 0 0 175px;
        &:hover{
            text-decoration: none;
        }
    }
}
.bg-dark{
    background-color: #000000 !important;
}
.reservation{
    background-color: $color-primary;
}
.promotion{
    background-color: $color-second;
}

.item-collapse{
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    &:hover{
        text-decoration: none;
        color: #000000;
    }
}
.logo-footer{
    height: 1.5rem; 
    margin-left: 100px;
}
.img-copy{
    margin-left: 100px;
}
.fa-twitter{
    color: #ffffff;
    margin-right: 100px;
}
.fa-instagram,
.fa-facebook-f{
    color: #ffffff;
    margin-right: 40px;
}
.text-footer{
    font-size: 12px;
    margin-right: 100px;
}
form{
    width: 80%;
    height: 350px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-collapse{
    &::before{
        content: "\002B";
        color: #0071BB;
        font-weight: 900;
        display: inline-block;
        width: 1rem; 
        margin-left: -1em;
    }
}






/*Extra Small devices (landscape phones, 575px and up)*/
@media (max-width: 575px) {
    .section-wellcome{
        width: 100%;
        height: 145vh;
        background: $color-gradient;
        .img-fluid-home{
            display: none;
        }
        .img-bitmap{
            display: block;
            position: absolute;
            top: 50%;
            left: 15%;
        }
        h1{
            font-size: 2.5rem;
            top: 15%;
            left: 20%;
            text-align: center;
        }
        p{
            left: 5%;
            top: 30%;
            padding: 0 50px;
            text-align: center;
        }
        .icon-playstore{
            left: 20%;
            top: 40%;
        }
        .icon-appstore{
            left: 55%;
            top: 40%;
        }
    }
    .order-after{
        order: -1;
    }
    .sections{
        width: 100%;
        height: 140vh;
        img{
            height: 80%;
        }
        h2{
            text-align: center;
            padding: 0;
            padding-top: 50px;
            font-size: 3rem;
        }
        p{
            font-size: 15px;
            color: $color-white;
            padding: 10px 5% 0 5%;
            text-align: center;
        }
    }
    #sales{
        h4{
            padding: 40px 0 20px 15px !important;
        }
        h2{
            padding: 10px 0 10px 15px !important;
            text-align: center;
        }
        p{
            font-size: 13px;
            padding: 10px 0 10px 15px;
        }
        a{
            margin: 10px 0 40px 15px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}