@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.w-full-screen {
  width: 100%;
  height: 100vh;
}

.menu-scroll {
  background: linear-gradient(270deg, #8BDA5A -10.32%, #1435B9 100%);
  z-index: 10;
}

.container-menu-responsive {
  display: none;
}

.container-menu {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 10;
}
.container-menu .container-logo {
  width: 30%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container-menu .container-logo img {
  height: 3rem;
  margin: 10%;
}
.container-menu .container-menu-item {
  width: 70%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-menu .container-menu-item img,
.container-menu .container-menu-item .fa-times {
  display: none;
}
.container-menu .container-menu-item ul {
  list-style: none;
  display: flex;
}
.container-menu .container-menu-item ul li {
  margin: 0 15px;
}
.container-menu .container-menu-item ul li a {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  border-top: 1px solid transparent;
}
.container-menu .container-menu-item ul li a:hover {
  text-decoration: none;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
}

/*Extra Small devices (landscape phones, 575px and up)*/
@media (max-width: 991px) {
  .container-menu-responsive {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
  }
  .container-menu-responsive img {
    height: 2.5rem;
    margin-left: 5%;
  }
  .container-menu-responsive .fa-bars {
    color: #FFFFFF;
    font-size: 2rem;
    margin-right: 5%;
  }

  .container-menu {
    height: auto;
    z-index: 100;
  }
  .container-menu .container-logo {
    display: none;
  }
  .container-menu .container-menu-item {
    width: 100%;
    height: 100%;
    background-color: #1D42B1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100%;
  }
  .container-menu .container-menu-item .fa-times {
    position: absolute;
    display: block;
    color: #FFFFFF;
    font-size: 2rem;
    right: 5%;
    top: 3%;
  }
  .container-menu .container-menu-item img {
    display: block;
    position: absolute;
    left: 5%;
    top: 3%;
    height: 2.5rem;
  }
  .container-menu .container-menu-item ul {
    list-style: none;
    display: block;
  }
  .container-menu .container-menu-item ul li {
    margin: 0 !important;
  }
  .container-menu .container-menu-item ul li a {
    padding: 15px 0;
    font-size: 3rem;
    border-top: none;
  }
  .container-menu .container-menu-item ul li a:hover {
    border-top: none;
  }
}
body {
  position: relative;
}

.section-wellcome {
  width: 100%;
  height: 100vh;
  background: linear-gradient(270deg, #8BDA5A -10.32%, #1435B9 100%);
  overflow: hidden;
}
.section-wellcome .img-fluid-home {
  height: 70%;
  position: relative;
  bottom: -31%;
  left: 3%;
}
.section-wellcome .img-bitmap {
  display: none;
}
.section-wellcome h1 {
  position: absolute;
  top: 18%;
  left: 48%;
  color: #FFFFFF;
  font-size: 3rem;
}
.section-wellcome p {
  font-size: 14px;
  color: #FFFFFF;
  position: absolute;
  left: 48%;
  top: 33%;
}
.section-wellcome .icon-playstore {
  position: absolute;
  left: 48%;
  top: 38%;
}
.section-wellcome .icon-appstore {
  position: absolute;
  left: 65%;
  top: 38%;
}

.sections {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.sections img {
  height: 70%;
}
.sections h2 {
  font-size: 2rem;
  color: #FFFFFF;
  padding: 0 0 0 175px;
  font-weight: 800;
}
.sections p {
  font-size: 13px;
  color: #FFFFFF;
  padding: 0 0 0 175px;
}

#sales h4, #sales h2 {
  padding: 0 0 0 175px;
}
#sales p {
  font-size: 13px;
  padding: 0 50px 0 175px;
}
#sales a {
  padding: 8px 15px;
  background-color: #88D65C;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  margin: 0 0 0 175px;
}
#sales a:hover {
  text-decoration: none;
}

.bg-dark {
  background-color: #000000 !important;
}

.reservation {
  background-color: #1D42B1;
}

.promotion {
  background-color: #88D65C;
}

.item-collapse {
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}
.item-collapse:hover {
  text-decoration: none;
  color: #000000;
}

.logo-footer {
  height: 1.5rem;
  margin-left: 100px;
}

.img-copy {
  margin-left: 100px;
}

.fa-twitter {
  color: #ffffff;
  margin-right: 100px;
}

.fa-instagram,
.fa-facebook-f {
  color: #ffffff;
  margin-right: 40px;
}

.text-footer {
  font-size: 12px;
  margin-right: 100px;
}

form {
  width: 80%;
  height: 350px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*Extra Small devices (landscape phones, 575px and up)*/
@media (max-width: 411px) {
  .section-wellcome {
    width: 100%;
    height: 145vh;
    background: linear-gradient(270deg, #8BDA5A -10.32%, #1435B9 100%);
  }
  .section-wellcome .img-fluid-home {
    display: none;
  }
  .section-wellcome .img-bitmap {
    display: block;
    position: absolute;
    top: 29.2%;
    left: 5%;
  }
  .section-wellcome h1 {
    font-size: 2.5rem;
    top: 8%;
    left: 10%;
    text-align: center;
  }
  .section-wellcome p {
    left: 2.5%;
    top: 17%;
  }
  .section-wellcome .icon-playstore {
    left: 10%;
    top: 22%;
  }
  .section-wellcome .icon-appstore {
    left: 55%;
    top: 22%;
  }

  .order-after {
    order: -1;
  }

  .sections {
    width: 100%;
    height: 130vh;
  }
  .sections img {
    height: 70%;
  }
  .sections h2 {
    text-align: center;
    padding: 0;
    padding-top: 50px;
    font-size: 3rem;
  }
  .sections p {
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px 5% 0 5%;
    text-align: center;
  }

  #sales h4, #sales h2 {
    padding: 10px 0 10px 15px !important;
    text-align: center;
  }
  #sales p {
    font-size: 13px;
    padding: 10px 0 10px 15px;
  }
  #sales a {
    margin: 10px 0 40px 15px;
  }
  #sales a:hover {
    text-decoration: none;
  }
}
.section-commerce {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../img/bg-commerce-min.png);
}
.section-commerce:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: linear-gradient(270deg, #8BDA5A -10.32%, #1435B9 100%);
}

.title-small {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 50px;
  padding-bottom: 10px;
}

.paragraph-small {
  font-size: 12px;
  padding-left: 50px;
  padding-right: 70px;
}

.paragraph-sm {
  font-size: 11px;
  padding: 0 20px;
}

.report {
  background-color: #1335B9;
}

.gb-gray-lite {
  background-color: #F5F5F5;
}

/*Extra Small devices (landscape phones, 575px and up)*/
@media (max-width: 575px) {
  .section-commerce {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../img/bg-commerce-min.png);
  }

  .hidden-element {
    display: none;
  }

  .paragraph-small {
    font-size: 14px;
  }

  .text-center-responsive {
    text-align: center;
  }

  .title-small {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
